# 1

In [ ]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985]

In [1]:
years_list = [i for i in range(1982,1982+6)]
years_list

[1982, 1983, 1984, 1985, 1986, 1987]

# 2

In [ ]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
 first year

In [2]:
years_list[3]

1985

# 3

In [ ]:
#3.In the years list, which year were you the oldest?

In [3]:
max(years_list)

1987

# 4

In [ ]:
#4. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella','salmonella'.

In [4]:
things = list(['mozzarella', 'cinderella','salmonella'])
things

['mozzarella', 'cinderella', 'salmonella']

# 5

In [ ]:
# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
    Capitalize() will not update the list original values.

In [5]:
for i in things:
    print(i.capitalize())
things

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

# 6

In [1]:
#6. Make a surprise list with the elements "Groucho", "Chico", and "Harpo"

In [6]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

# 7

In [2]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [7]:
surprise_list[-1].lower()

'harpo'

In [8]:
surprise_list[-1][::-1]

'opraH'

In [9]:
surprise_list[-1][::-1].upper()

'OPRAH'

# 8

In [ ]:
#8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [10]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}

# 9

In [ ]:
#9. Write the French word for walrus in your three-word dictionary e2f.

In [11]:
e2f['walrus']

'morse'

# 10

In [3]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [12]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# 11

In [ ]:
#11. Print the English version of the French word chien using f2e.

In [13]:
f2e['chien']

'dog'

# 12

In [ ]:
#12. Make and print a set of English words from the keys in e2f.

In [14]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

# 13

In [ ]:
#13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [15]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

# 14

In [ ]:
#14. Print the top-level keys of life.

In [16]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

# 15

In [ ]:
#15. Print the keys for life['animals'].

In [17]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

# 16

In [ ]:
#16. Print the values for life['animals']['cat']

In [19]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']